{% extends '_layouts/default.html' %}
{% block title %}
React.run - 500 Internal Server Error
{% endblock %}
{% block content %}
<div class="internal-error">
    <pre>
,------.                        ,--.
|  .--. ' ,---.  ,--,--. ,---.,-'  '-.  ,--.--.,--.,--.,--,--,
|  '--'.'| .-. :' ,-.  || .--''-.  .-'  |  .--'|  ||  ||      \
|  |\  \ \   --.\ '-'  |\ `--.  |  |.--.|  |   '  ''  '|  ||  |
`--' '--' `----' `--`--' `---'  `--''--'`--'    `----' `--''--'
    </pre>
    <pre>
,-----.  ,--.    ,--.
|  .--' /    \  /    \
'--. `\|  ()  ||  ()  |
.--'  / \    /  \    /
`----'   `--'    `--'
    </pre>
    <p>Something went terribly wrong.</p>
    <a class="button" href="/">Go Home</a>
</div>
{% endblock %}

