<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="title" content="react.run">
    <meta name="description"
          content="Run, save and debug React code in the browser">
    <meta name="keywords"
          content="keywords_here">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>react.run</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
</head>
<body>
<div class="app-container">
    <div id="app">
    </div>
</div>
<script>
    window.existingCode = "{% autoescape 'js' %}{{ code }}{% endautoescape %}";
    window.revisions = {{ otherRevisions | json | raw }};
</script>
<script src="/javascripts/socket.io.js" defer></script>
<script src="/javascripts/client.js" defer></script>
</body>
</html>
