{% extends '_layouts/default.html' %}
{% block title %}
React.run - 494 Page Not Found
{% endblock %}
{% block content %}
<div class="not-found">
        <pre>
,------.                        ,--.
|  .--. ' ,---.  ,--,--. ,---.,-'  '-.  ,--.--.,--.,--.,--,--,
|  '--'.'| .-. :' ,-.  || .--''-.  .-'  |  .--'|  ||  ||      \
|  |\  \ \   --.\ '-'  |\ `--.  |  |.--.|  |   '  ''  '|  ||  |
`--' '--' `----' `--`--' `---'  `--''--'`--'    `----' `--''--'
    </pre>
    <pre>
  ,---.  ,--.    ,---.
 /    | /    \  /    |
/  '  ||  ()  |/  '  |
'--|  | \    / '--|  |
   `--'  `--'     `--'
    </pre>
    <p>The resource you are looking for could not be found.</p>
    <a class="button" href="/">Go Home</a>
</div>
{% endblock %}

