// ----------------------------------------------------------------------
// Color Palette
// ----------------------------------------------------------------------
$white: #FFFFFF;
$black: #000000;
$green: rgba(133, 154, 0, 1);
$editorBg: rgba(0, 43, 55, 1);

// ----------------------------------------------------------------------
// Colors for Text
// ----------------------------------------------------------------------
$header: #ffffff;
$subHeader: #959595;
$bodyText: #707070;


// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1400;

$breakpoint-mb: 415px !default;
$breakpoint-xs: 768px !default;
$breakpoint-sm: 992px !default;
$breakpoint-med: 1073px !default;
$breakpoint-lg: 1200px !default;
$breakpoint-xlg: 1600px !default;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 16;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$OpenSans: 'OpenSans-Regular', sans-serif;
$OpenSans-bold: 'OpenSans-Bold', sans-serif;
$OpenSans-Semibold: 'OpenSans-Semibold', sans-serif;
$Oswald-light: 'Oswald-Light', sans-serif;
$Oswald-bold: 'Oswald-Bold', sans-serif;
$AbandonedExtended: 'AbandonedExtended', sans-serif;

// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;
