.side-panel-button {
  background-color: $editorBg;
  color: $green;
  border: 1px solid $green;
  font-family: monospace;
  transition: all 250ms ease;
  width: 20%;
  margin-top: 12px;
  margin-left: 10px;
  &:hover {
    background-color: $green;
    color: $editorBg;
  }
}

.button {
  background-color: $editorBg;
  color: $green;
  border: 1px solid $green;
  padding:12px;

  &:hover {
    background-color: $green;
    color: $editorBg;
  }
}