
.side-panel {
  &.large {
    width: 600px;
    transform: translate3d(-600px, 0, 0);
  }
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 300px;
  background-color: rgba(0, 43, 55, .95) * 1.1;
  transform: translate3d(-300px, 0, 0);
  transition: transform 250ms ease;
  padding-top: 10px;
  overflow-y: auto;
  h3 {
    color: $green;
    font-family: monospace;
    border-bottom: 1px solid $green;
    padding-left: 5px;
    font-size: 15px;
    padding-bottom: 5px;
    i {
      float: right;
      padding-right: 15px;
      cursor: pointer;
      font-size: 17px;
    }
  }
  p {
    color: $green;
    font-family: monospace;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
  }

  &.open {
    transform: translate3d(0, 0, 0);
  }

  a {
    color: $green;
    font-family: monospace;
    height: auto;
    min-height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    i {
      margin-right: 5px;
    }
  }

  li {
    padding: 5px;

    &.active {
      .revision-hash {
        background-color: $editorBg;
        color: $green;

      }
      background-color: $green;

      a {
        color: $editorBg;
      }
    }
  }

}

.revision-hash {
  margin-right: 5px;
  background-color: $green;
  color: $editorBg;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}