.error-message {
  position: fixed;
  z-index: 999999;
  right: 50%;
  left: 0;
  bottom: 0;
  min-height: 40px;
  opacity: .9;
  background: darkred;
  color: white;
  font-family: sans-serif;
  padding-left: 12px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    width: 100%;
  }
  &.initial {
    visibility: hidden;
  }
}