.internal-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: $green;
  font-family: monospace;

  .button {
    margin-top: 12px;
  }
  p {
  }

}