body {
  background-color: $editorBg;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
}

#editor {
  width: 50%;

  &.fade {
    #editor_window {
      filter: blur(1px);
    }
  }
}

#editor_window {
  height: calc(100vh - 60px) !important;
  width: 100% !important;
  @include breakpoint(sm) {
    height: calc(100vh - 30px) !important;
  }
}

#results {
  background: white;
  width: 50%;
}

#app {
  width: 100%;

}

.app-container {
  width: 100%;
}

.app-inner {
  display: flex;
  width: 100%;
}

#resultsFrame {
  height: 100vh;
  width: 100%;
}