.app-container {
  height: 100%;
  width: 100%;
  display: flex;
}

#editor {
  width: 50%;
}

#results {
  width: 50%;
}

#app {
  width: 100%;

}

.app-container {
  width: 100%;
}

.app-inner {
  display: flex;
  width: 100%;
}

#resultsFrame {
  height: 100vh;
  width: 100%;
}