.npm-message {
  position: fixed;
  z-index: 9999999;
  left: 0;
  right: 50%;
  top: 0;
  height: 40px;
  background-color: $editorBg;
  color: $green;
  font-family: sans-serif;
  line-height: 40px;
  padding-left: 12px;
  pointer-events: none;
}