.toolbar {
  height: 30px;
  line-height: 30px;
  background-color: rgba(0, 43, 55, 1);
  color: rgba(133, 154, 0, 1);
  font-family: monospace;

  .toolbar-pad {
    background-color: rgba(0, 49, 64, 1);
    display: inline-block;
    height: 30px;
    width: 48px;
    float: left;
  }
  .toolbar-controls {
    display: inline-block;
    width: calc(100% - 48px);
    float: left;

    li {
      padding-left: 12px;
      padding-right: 12px;
      float: right;
      cursor: pointer;
      font-size: 12px;
      position: relative;
    }
  }
}

.side-panel {
  position: fixed;
  width: 200px;
  height: 400px;
  bottom: 0;
  right: 0;
  left: 0;
}