.toolbar {
  height: 30px;
  line-height: 30px;
  background-color: $editorBg;
  color: $green;
  font-family: monospace;

  .toolbar-pad {
    background-color: rgba(0, 49, 64, 1);
    display: inline-block;
    height: 30px;
    width: 48px;
    float: left;
  }
  .toolbar-controls {
    display: inline-block;
    width: calc(100% - 48px);
    float: left;

    li {
      padding-left: 12px;
      padding-right: 12px;
      float: right;
      cursor: pointer;
      font-size: 12px;
      position: relative;
    }
  }
}
