.toolbar {
  height: auto;
  background-color: $editorBg;
  color: $green;
  font-family: monospace;
  border-bottom: 1px solid $green;

  .toolbar-controls {
    display: inline-block;
    width: 100%;
    li {
      padding: 6px 12px;
      float: right;
      cursor: pointer;
      font-size: 12px;
      position: relative;
    }
  }
}
