<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="title" content="title_here">
    <meta name="description"
          content="description_here">
    <meta name="keywords"
          content="keywords_here">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="meta/manifest.json">
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="images/mstile-144x144.png">
    <meta name="msapplication-config" content="meta/browserconfig.xml">
    <meta name="theme-color" content="#000000">


    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="content_here">
    <meta itemprop="description"
          content="conetnt_here">
    <meta itemprop="image" content="image_here">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="title_here">
    <meta name="twitter:description"
          content="description_here">
    <meta name="twitter:creator" content="twitter_handle_here">
    <meta name="twitter:image:src"
          content="twitter_card_image_here">

    <!-- Open Graph data -->
    <meta property="og:title" content="title_here"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="url_here"/>
    <meta property="og:image"
          content="image_here"/>
    <meta property="og:description"
          content="description_here"/>
    <meta property="og:site_name" content="title_here"/>
</head>
<body>
<!-- react application goes here -->
<div id="app">
</div>
<script src="javascripts/client.js"></script>
<script>
    (function( i, s, o, g, r, a, m ) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'GA_CODE_HERE', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
